<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page_title }} – Empowering Your Digital Experience</title>
    <meta name="description"
          content="Discover Tekoala – your trusted partner for innovative solutions, digital tools, and resources to help you grow online."/>
    <meta name="keywords" content="Tekoala, jasa pembauatan website, digital solutions, online growth, business tools, innovation"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Open Graph / Facebook -->
    <meta property="og:locale" content="{{ meta.property.locale }}"/>
    <meta property="og:type" content="{{ meta.property.type }}"/>
    <meta property="og:title" content="{{ page_title }} – Empowering Your Digital Experience"/>
    <meta property="og:description"
          content="Discover Tekoala – your trusted partner for innovative solutions, digital tools, and resources to help you grow online."/>
    <meta property="og:url" content="{{ meta.property.url }}"/>
    <meta property="og:site_name" content="{{ meta.property.site_name }}"/>
    <meta property="og:image" content="{{ meta.property.image }}"/>

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:title" content="{{ page_title }} – Empowering Your Digital Experience"/>
    <meta name="twitter:description"
          content="Discover Tekoala – your trusted partner for innovative solutions, digital tools, and resources to help you grow online."/>
    <meta name="twitter:image" content="{{ meta.property.image }}"/>

    <!-- Disable phone number auto-detection on iOS Safari -->
    <!-- Ref: https://stackoverflow.com/questions/226131 -->
    <meta name="format-detection" content="telephone=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="../../assets/img/favicon.png" type="image/x-icon">

    <!-- Plugins CSS -->
    <link href="../../scss/styles.scss" rel="stylesheet"/>

    <script src="../../js/gtm.js"></script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KTRQ347Z');
    </script>
    <!-- End Google Tag Manager -->

</head>
<body class="bg-dark">

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KTRQ347Z"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Start Main -->
<main>
    {{> @partial-block }}
</main>
<!-- End Main -->

<!-- Theme Scripts -->
<script src="../../js/scripts.js"></script>
</body>
</html>