<!-- Start Banner
============================================= -->
<div class="banner-style-eight-area bg-cover" style="background-image: url({{this.bgShape1}});">
    <div class="light-banner-active bg-gray bg-cover" style="background-image: url({{this.bgShape2}});"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="banner-style-eight-heading">
                    <div class="banner-title">
                        <h2 class="title-left split-text">{{this.heading.left}}</h2>
                        <h2 class="title-right split-text">{{this.heading.right}}</h2>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="thumb">
                    <img src="{{this.illustration}}" alt="Image Not Found">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-7">
                <div class="d-grid">
                    <h4>About Us</h4>
                    <div class="right">
                        {{{this.description}}}
<!--                        <a class="btn-animation mt-10" href="#"><i class="fas fa-arrow-right"></i> <span>Know More</span></a>-->
                    </div>
                </div>
            </div>
            <div class="col-xl-4 offset-xl-1">
                <div class="card-style-one">
                    <div class="bottom">
                        <div class="fun-fact">
                            <div class="counter">
                                <div class="timer">31</div>
                                <div class="operator">K</div>
                            </div>
                            <span class="medium">Completed Projects</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner -->