<!-- Header
============================================= -->
<header>
    <!-- Start Navigation -->
    <nav class="navbar mobile-sidenav navbar-sticky navbar-default validnavs nav-full-width navbar-fixed">
        <div class="container-full d-flex justify-content-between align-items-center">

            <!-- Start Header Navigation -->
            <div class="col-xl-2 col-lg-3">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <img src="{{this.logoLight}}" class="logo" alt="Logo">
                        <img src="{{this.logoDark}}" class="logo-dark" alt="Logo">
                    </a>
                </div>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-xl-7 col-lg-6">
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <div class="left-info">
                        <p><strong>Contact</strong> <a href="mailto:{{this.email}}">{{this.email}}</a></p>
                    </div>
                    <div class="right-info">
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="{{this.instagram}}"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><img src="../../assets/img/icon/twitter.png" alt="Image Not Found"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="attr-right">
                <!-- Start Atribute Navigation -->
                <div class="attr-nav flex">
                    <ul>
                        <li class="side-menu">
                            <a href="#">
                                <strong>MENU </strong>
                                <div class="line">
                                    <span class="bar-1"></span>
                                    <span class="bar-2"></span>
                                    <span class="bar-3"></span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->


                <div class="col-lg-2">
                    <!-- Start Side Menu -->
                    <div class="side">
                        <a href="#" class="close-side">Close <i class="fas fa-times"></i></a>
                        <div class="widget">
                            <div class="logo">
                                <a href="index-6.html"><img src="{{this.logoLight}}" alt="Logo"></a>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-7 col-lg-7">
                                    <div class="side-navbar-inner">
                                        <div class="simple-menu">
                                            <ul class="simple-menu-list">
                                                <li><a href="#">Home </a></li>
                                                <li><a href="#">Blog </a></li>
                                                <li><a href="#">Services </a></li>
                                                <li><a href="#">About</a> </li>
                                                <li><a href="#">Contact</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 offset-xl-1 col-lg-4 offset-lg-1">
                                    <div class="side-widgets">
                                        <div class="widget address">
                                            <div>
                                                <ul>
                                                    <li>
                                                        <div class="content">
                                                            <p>Address</p>
                                                            <strong>Makassar</strong>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="content">
                                                            <p>Email</p>
                                                            <strong>{{this.email}}</strong>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="content">
                                                            <p>Contact</p>
                                                            <strong>+{{this.phone}}</strong>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="widget social">
                                            <ul class="link">
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="{{this.instagram}}"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#"><img src="../../assets/img/icon/twitter.png" alt="Image Not Found"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- End Side Menu -->

                </div>
            </div>
            <!-- Main Nav -->

        </div>
        <!-- Overlay screen for menu -->
        <div class="overlay-screen"></div>
        <!-- End Overlay screen for menu -->
    </nav>
    <!-- End Navigation -->
</header>
<!-- End Header -->